body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#map {
  display: block;
  height: 550px;
  width: 700;
}

/* ---------------------- */
.form-title {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 0px;
  font-family: 'Do Hyeon', sans-serif;
}

form {
  padding: 20px;
  display: inline-block;
}

label {
  font-weight: bold;
  display: block;
  width: 100px;
  float: left;
}

label,
input {
  display: block;
  border-color: #1c005c;
}

#load_map {
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;
  background-color: #1c005c;
  border-color: #1c005c;
}

div .row {
  padding: 30px;
}

.form-div {
  background-color: #e2e2e2;
  float: left;
  width: 25%;
  height: 90vh;
}

.map-div {
  float: right;
  width: 75%;
  height: 90vh;
}

#clear_map {
  margin-right: auto;
  margin-left: 20px;
  border-radius: 40px;
  border-color: #1c005c
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  /* Black background with opacity */
  z-index: 99;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}



.legend {
  padding: 8px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 1);
  line-height: 24px;
  color: #000000;
}

.legend h4 {
  text-align: center;
  font-size: 20px;
  margin: 5px 15px 15px;
  color: #000000;
}

.legend span {
  position: relative;
  bottom: 5px;
}

.legend i {
  width: 20px;
  height: 20px;
  float: right;
  margin: 0 15px 0 15px;
  opacity: 1;
}




* {
  box-sizing: border-box;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dropdownMenuButton {
  background-color: #5f788a;
}