{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Historic Farmland Register</legend>
                <div class="form-group">
                    {{ form.current_farm.label(class="form-control-label", style="white-space: nowrap;") }}
                    {% if form.current_farm.errors %} 
                        {{ form.current_farm(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.current_farm.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.current_farm(class="form-control form-control-lg") }}
                    {% endif %}
                </div>                
                
                {{ form.croptype1.label(class="form-control-label") }}
                {% if form.croptype1.errors %}
                    {{ form.croptype1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.croptype1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.croptype1(class="form-control form-control-lg") }}
                {% endif %}
                <br>    
                {{ form.sowdate1.label(class="form-control-label", style="white-space: nowrap;") }}    
                {% if form.sowdate1.errors %}
                    {{ form.sowdate1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sowdate1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.sowdate1(class="form-control form-control-lg") }}
                {% endif %}
                <br>                
                {{ form.harvestdate1.label(class="form-control-label", style="white-space: nowrap;") }}    
                {% if form.harvestdate1.errors %}
                    {{ form.harvestdate1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.harvestdate1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.harvestdate1(class="form-control form-control-lg") }}
                {% endif %}
                <br>
                {{ form.productobtained.label(class="form-control-label", style="white-space: nowrap;") }}    
                {% if form.productobtained.errors %}
                    {{ form.productobtained(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.productobtained.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.productobtained(class="form-control form-control-lg") }}
                {% endif %}
                <br>
                <div class="input-group">
                <legend class="border-bottom mb-4">Type 1</legend>
                    {{ form.nitrogen1.label(class="form-control-label") }}
                    {% if form.nitrogen1.errors %}
                        {{ form.nitrogen1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nitrogen1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nitrogen1(class="form-control form-control-lg") }}
                    {% endif %}

                    {{ form.phosphorus1.label(class="form-control-label") }}                    
                    {% if form.phosphorus1.errors %}
                        {{ form.phosphorus1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phosphorus1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phosphorus1(class="form-control form-control-lg") }}
                    {% endif %}

                    {{ form.potassium1.label(class="form-control-label") }}
                    {% if form.potassium1.errors %}
                        {{ form.potassium1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.potassium1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.potassium1(class="form-control form-control-lg") }}
                    {% endif %}
                
                    {{ form.posology1.label(class="form-control-label") }}        
                    {% if form.posology1.errors %}
                        {{ form.posology1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.posology1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.posology1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="input-group">
                    <legend class="border-bottom mb-4">Type 2</legend>
                    {{ form.nitrogen2.label(class="form-control-label") }}
                    {% if form.nitrogen2.errors %}
                        {{ form.nitrogen2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nitrogen2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nitrogen2(class="form-control form-control-lg") }}
                    {% endif %}
                
                    {{ form.phosphorus2.label(class="form-control-label") }}
                    {% if form.phosphorus2.errors %}
                        {{ form.phosphorus2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phosphorus2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phosphorus2(class="form-control form-control-lg") }}
                    {% endif %}
                
                    {{ form.potassium2.label(class="form-control-label") }}
                    {% if form.potassium2.errors %}
                        {{ form.potassium2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.potassium2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.potassium2(class="form-control form-control-lg") }}
                    {% endif %}
                
                    {{ form.posology2.label(class="form-control-label") }}
                    {% if form.posology2.errors %}
                        {{ form.posology2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.posology2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.posology2(class="form-control form-control-lg") }}
                    {% endif %}
                
                </div>                
                <br>
                <div class="input-group">
                    <legend class="border-bottom mb-4">Type 3</legend>
                    {{ form.nitrogen3.label(class="form-control-label") }}
                    {% if form.nitrogen3.errors %}
                        {{ form.nitrogen3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nitrogen3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nitrogen3(class="form-control form-control-lg") }}
                    {% endif %}
                
                    {{ form.phosphorus3.label(class="form-control-label") }}
                    {% if form.phosphorus3.errors %}
                        {{ form.phosphorus3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phosphorus3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phosphorus3(class="form-control form-control-lg") }}
                    {% endif %}
                
                    {{ form.potassium3.label(class="form-control-label") }}
                    {% if form.potassium3.errors %}
                        {{ form.potassium3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.potassium3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.potassium3(class="form-control form-control-lg") }}
                    {% endif %}
                
                    {{ form.posology3.label(class="form-control-label") }}
                    {% if form.posology3.errors %}
                        {{ form.posology3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.posology3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.posology3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                {{ form.diseasesabnormalities.label(class="form-control-label", style="white-space: nowrap;") }}
                {% if form.diseasesabnormalities.errors %}
                    {{ form.diseasesabnormalities(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.diseasesabnormalities.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.diseasesabnormalities(class="form-control form-control-lg") }}
                {% endif %}
                <br>
                {{ form.diseasesabnormalitiesdate.label(class="form-control-label", style="white-space: nowrap;") }}    
                {% if form.diseasesabnormalitiesdate.errors %}
                    {{ form.diseasesabnormalitiesdate(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.diseasesabnormalitiesdate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.diseasesabnormalitiesdate(class="form-control form-control-lg") }}
                {% endif %}
                <br>
                {{ form.treatmentobservation.label(class="form-control-label", style="white-space: nowrap;") }}    
                {% if form.treatmentobservation.errors %}
                    {{ form.treatmentobservation(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.treatmentobservation.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.treatmentobservation(class="form-control form-control-lg") }}
                {% endif %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
  <script>
    /* var d = JSON.parse('{{documents | tojson | safe}}'); */
    /* document.getElementById('feed').innerHTML = d.asd; */
    
    function Start(){
      var coordinates_div = document.getElementById("coordinates");
      coordinates_div.style.display = "none";
    }
  </script>
{% endblock %}
