{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Home Page</h1>
        
         {% if current_user.is_authenticated %}
             <a class="btn btn-primary btn-lg" href="{{ url_for('main.insert_farmland_data') }}" role="button" id="buttonMenu">Add new farm field</a>
             <a class="btn btn-primary btn-lg" href="{{ url_for('main.land_selection') }}" role="button" id="buttonMenu">Open existing farm</a>
             
         {% endif %}

    {% else %}
            <h1>Home Page</h1>
    {% endif %}
{% endblock content %}


