{% extends "layout.html" %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID Parcela</th>
        <th>Tipo de Cultivo</th>
        <th>Fecha de Siembra</th>
        <th>Fecha de Cosecha</th>
        <th>Cosecha Esperada</th>
      </tr>
    </thead>
    <tbody>
      {% for land in lands %}
        <tr>
          <td>{{ land.id }}</td>
          <td>{{ land.croptype_id }}</td>
          <td>{{ land.sow_date }}</td>
          <td>{{ land.harvest_date }}</td>
          <td>{{ land.product_expected }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}
