{% extends "layout.html" %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Farmland Id</th>
        <th>Farmland Description</th>
        <th>Crop Type</th>
        <th>Sow Date</th>
        <th>Harvest Date</th>
        <th>Expected Harvest (tons)</th>
        <th>Coordinates</th>
      </tr>
    </thead>
    <tbody>
      {% for land in lands %}
        <tr>
          <td>{{ land.id }}</td>
          <td>{{ land.name }}</td>
          <td>{{ land.description }}</td>
          <td>{{ land.sow_date }}</td>
          <td>{{ land.harvest_date }}</td>
          <td>{{ land.product_expected }}</td>
          <td>{{ land.coordinates }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null,
          null],
      });
    });
  </script>
{% endblock %}
