<html>

<head>

  <!-- Required meta tags -->
  <link rel="shortcut icon" href="#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

  <!-- leaflet map -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <!-- geoman leaflet plugin -->
  <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
  <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>

  <!-- map crop -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <!-- end map crop -->
  <link rel="sanzar icon" href="{{ url_for('static', filename='media/sanzar_ico.ico') }}" />
  {% if title %}
  <title>Fertilizer Meter - {{ title }}</title>
  {% else %}
  <title>Fertilizer Meter</title>
  {% endif %}
</head>

<body>

  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/"><img alt="logo"
            src="{{ url_for('static', filename='media/sanzar_blue_clear.png') }}"
            style="position:relative; width:35px; height:40px;" /> Sanzar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-expanded="true">Farmland Data</button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{{ url_for('main.land_selection') }}">Farmland List</a>
                <li><a class="dropdown-item" href="{{ url_for('main.insert_farmland_data') }}">New Farmland</a>
                <li><a class="dropdown-item" href="{{ url_for('main.insert_soiltest') }}">Soil Test</a>
                <li><a class="dropdown-item" href="{{ url_for('main.insert_historical_data') }}">Historical Data</a>
              </ul>
            </div>
            <a class="nav-item nav-link" href="{{ url_for('main.fertilizer_maps') }}">Fertilization Map</a>
            <a class="nav-item nav-link" href="{{ url_for('main.maps') }}">Vegetation Index</a>
            <a class="nav-item nav-link" href="{{ url_for('main.calculator') }}">Calculator</a>
            {% else %}

            {% endif %}
          </div>
          <!-- Navbar Right Side -->
          <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if current_user.is_authenticated %}
              <a class="dropdown-item" href="{{ url_for('main.registerrole') }}">Role</a>
              <a class="dropdown-item" href="{{ url_for('main.registercrop') }}">Crop Type</a>
              <!-- <a class="dropdown-item" href="{{ url_for('main.account') }}">Account</a> -->
              <!-- <a class="dropdown-item" href="{{ url_for('main.about') }}">About</a> -->
              <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
              {% else %}
              <a class="dropdown-item" href="{{ url_for('main.login') }}">Login</a>
              <a class="dropdown-item" href="{{ url_for('main.register') }}">Register</a>
              <!-- <a class="dropdown-item" href="{{ url_for('main.about') }}">About</a> -->
              {% endif %}
            </div>
          </div>
          <!-- End -->
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">

      <div class="col-md-12">
        <!-- <img alt="logo" src="{{ url_for('static', filename='media/Sanzar_Azul.png') }}"
          style="position:absolute; width:200px; height:273px; bottom:300px; right:1160px;" /> -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

</body>

</html>