<html>
<head>
    <style type="text/css">
        #Map {
          position: relative;
          width: 50.0%;
          height: 65.0%;
          left: 0.0%;
          top: 0.0%;
        }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/> 
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>  
    

</head>
<body>
    <div class="folium-map" id="Map" ></div>
<script>

var maps_config = JSON.parse('{{ maps|tojson|safe }}');

var Map = L.map("Map");

var tile_layer_openstreetmap = L.tileLayer(
	"https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 30, "maxZoom": 30, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
).addTo(Map);
        
    
var tile_layer_google_maps = L.tileLayer(
	"https://mt1.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",{
        "attribution": "Google", 
        "detectRetina": false, 
        "maxNativeZoom": 22, 
        "maxZoom": 22, 
        "minZoom": 0, 
        "noWrap": false, 
        "opacity": 1, 
        "subdomains": "abc", 
        "tms": false}
).addTo(Map);

var tile_layer_google_satellite = L.tileLayer(
	"https://mt1.google.com/vt/lyrs=y\u0026x={x}\u0026y={y}\u0026z={z}",{
        "attribution": "Google", 
        "detectRetina": false, 
        "maxNativeZoom": 22, 
        "maxZoom": 22, 
        "minZoom": 0, 
        "noWrap": false, 
        "opacity": 1, 
        "subdomains": "abc", 
        "tms": false}
).addTo(Map);

var gee_layer = L.tileLayer(maps_config.map_url, { attribution: '&copy; <a href="https://www.earthengine.google.com/copyright">Google Earth Engine</a>'})

L.Control.geocoder({"collapsed": true, "defaultMarkGeocode": true, "position": "topleft"}).on('markgeocode', function(e) {
                Map.setView(e.geocode.center, 11);
            }).addTo(Map);        
    
Map.fitBounds(
	[[maps_config.latitude, maps_config.longitude], [maps_config.latitude, maps_config.longitude]],
        {"maxZoom": 12}
);

var layer_control = {
	base_layers : {
		"openstreetmap" : tile_layer_openstreetmap,
        },
    overlays :  {
        "Google Maps" : tile_layer_google_maps,
        "Google Satellite" : tile_layer_google_satellite,
        "Google Earth Engine" : gee_layer,
    },
};

L.control.layers(
	layer_control.base_layers,
        layer_control.overlays,
        {"autoZIndex": true, "collapsed": true, "position": "topright"}
).addTo(Map);
            
var options = {
	position: "topleft",
        draw: {},
        edit: {},
}
            

var drawnItems = new L.featureGroup().addTo(Map);
options.edit.featureGroup = drawnItems;
var draw_control = new L.Control.Draw(options).addTo(Map);

Map.on(L.Draw.Event.CREATED, function(e) {
                		var layer = e.layer,
                    		    type = e.layerType;
                		var coords = JSON.stringify(layer.toGeoJSON());
                		layer.on('click', function() {
                    				alert(coords);
                    				console.log(coords);
                		});
                		drawnItems.addLayer(layer);
});
Map.on('draw:created', function(e) {
	drawnItems.addLayer(e.layer);
});     
    
	</script>
</body>
</html>