<!DOCTYPE html>
<html lang="en">
<head>

</head>
    <div class="content-section">
        <form id="form" method="POST" action="">
            <legend>Register a New Crop Field</legend>
            <div class="form-group">
                <input type="number" name="Crop" value="0">Crop</input >
            </div>
            <div class="form-group">
                <input type="date" name="Sow" value="2018-07-22" min="2018-01-01" max="2024-12-31">Sow</input >            </div>
            <div class="form-group">
                <input type="date" name="Harvest" value="2018-07-22" min="2018-01-01" max="2024-12-31">Harvest</input >
            </div>
            <div class="form-group">
                <input type="text" name="Coordinates">Coordinates</input >
            </div>
            <div class="form-group">
                <input type="number" name="Production" step="0">Production</input >
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script>                        
       // const farm_url = {{ url_for("farmland")|tojson }}
        const formEl = document.getElementById('form');
        
        formEl.addEventListener('submit', function(e) {
            e.preventDefault();
            
            const formData = new FormData(formEl);
            const data = Object.fromEntries(formData);
    
            fetch('http://127.0.0.1:5000/farmland', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data),
            })
            .then(res => res.json())
            .then(data => console.log(data))
            .catch(error => console.log(error));
        });
         
    </script>

</html>